body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.inner-page {
    color: #000000;
    background-color: #f8f5f2;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-header {
    background-color: #000000;
    margin-bottom: 50px;
}

.inner-page .main-navigation {
    align-items: flex-start;
    flex-direction: row;
}

.inner-page .main-header-logo {
    width: 111px;
    height: 24px;
    padding: 23px 20px;
    order: 0;
}

.inner-page .user-nav-list {
    margin-left: auto;
}

a { text-decoration: none; }

.button {
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.main-header {
    margin-bottom: 75px;
}

.main-header-logo {
    width: 368px;
    height: 153px;
    order: 2;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
    background-color: #000000;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #000000;
}

.main-nav-list {
    width: 620px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-nav-list {
    width: 140px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-list a,
.user-nav-list a {
    color: #ffffff;
}

.main-nav-list a:hover,
.main-nav-list a:focus,
.user-nav-list a:hover,
.user-nav-list a:focus {
    background-color: #242424;
}

.advantage {
    margin-bottom: 80px;
}

.advantage-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantage-item {
    width: 300px;
    text-align: center;
}

.advantage-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-column {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;

    color: #000000;

    background-color: #f8f5f2;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.index-column h2 {
    font-size: 30px;
    line-height: 42px;
}

.news {
    width: 380px;
}

.gallery {
    width: 300px;
}

.news-list {
    list-style: none;
}

.news-item time {
    text-transform: none;
}

.gallery-content {
    background-color: #e5e5e5;
    border: 7px solid #ffffff;
}

.contact-info {
    width: 380px;
}

.appointment {
    width: 300px;
}

.appointment-item input {
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.page-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    list-style: none;
}

.breadcrumbs a {
    color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs-current {
    color: #aba9a7;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 180px;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 24px;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #663d15;
}

.filter-input:disabled + label {
    color: #000000;
    opacity: 0.5;
}

.catalog {
    width: 700px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    list-style: none;
}

.catalog-item {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
    color: #000000;
}

.catalog-item h3 {
    font-size: 14px;
    line-height: 18px;
}

.catalog-category {
    text-transform: none;
}

.catalog-item-price b {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: #e5e5e5;
}

.catalog-item-price .button {
    color: #ffffff;
    line-height: 18px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination-item a {
    color: #ffffff;
    background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a {
    color: #000000;
    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: #000000;
    background-color: #ffffff;
}

.product-photo {
    width: 460px;
}

.product-photo-list {
    list-style: none;
}

.product-photo-list li {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
    text-align: right;
    color: #aeaeae;
}

.catalog-item-price b {
    line-height: 20px;
    text-align: center;
    background-color: #e5e5e5;
}

.price-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.price-product {
    width: 240px;
    margin-bottom: 65px;
    order: 1;
}

.price-list {
    width: 460px;
    order: 2;
}

.about-us {
    margin-bottom: 30px;
    order: 3;
}

.about-us-wrapper {
    display: flex;
}

.about-us-left {
    width: 390px;
    margin: 0;
    padding: 0;
    margin-right: 90px;
}

.about-us-right {
    width: 390px;
    margin: 0;
    padding: 0;
}

.product-info {
    width: 390px;
}

.product-info h3 {
    font-size: 24px;
    line-height: 30px;
}

.product-info ul {
    list-style: none;
}

.price-tagline {
    margin-bottom: 70px;
    font-size: 48px;
    line-height: 48px;
}

.price-tagline p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.price-products-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-headlines {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.main-footer {
    width: 100%;
    color: #ffffff;
    margin-top: 65px;
    padding: 60px 0;
    background-color: #232323;
    background-image: url("../img/dark-pattern.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.inner-page .main-footer {
    margin-top: 45px;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;
}

.footer-contacts a{
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts:hover,
.footer-contacts:focus {
    text-decoration: none;
}

.footer-social {
    width: 145px;
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;
    text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;
    background-color: #ffffff;
}

.modal {
    color: #000000;
    background-color: #f8f3f0;
    background-image: url("../img/pattern-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    font-size: 30px;
    line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #663d15;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}






